.header{
	text-align: center;
}

@media screen and (min-width: 1080px) {
    .header img {
		width: 200px;
		margin-bottom:20px;
	}
	.header h1 {
		font-size:30px;
	}
}
@media screen and (max-width: 1079px) {
    .header img {
		width: 150px;
		margin-bottom:20px;
	}
	.header h1 {
		font-size:26px;
	}
}
@media screen and (max-width: 487px) {
    .header img {
		width: 100px;
		margin-bottom:20px;
	}
	.header h1 {
		font-size:22px;
	}
}

/*.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}*/

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}
.error{
    color:red;
}
.sizeInut{
    width:100%;
}
.white-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px #ccc;
}
.hide{
    display: none;
}
.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}
.button{
  font-size: 17px;
    height: 43px;
    width: 125x;
    margin-left: 10px;
    padding: 10px;
}

.modal {
    position: absolute;
    top: 406px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    width: 100%;
   height: 50%; 
 } 
 @media only screen and (max-width: 600px) {
    .modal {
       
     position: fixed;
     top: 0px; 
     height: 100%; 
    }
  }
  @media only screen and (max-width: 1000px) {
    .modal {
    
   position: fixed;
  top: 0px;
  height: 100%; 

    }
  }